

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA_report</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        .main-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .image-row {
            display: flex;
            justify-content: center;
        }

        .image {
            max-width: 50%;
            height: auto;
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <img class="main-image" src="/images/demo.jpeg" alt="logo">
    
    <div class="image-row">
        <iframe title="Report Section" width="700" height="400" src="https://app.powerbi.com/view?r=eyJrIjoiMTdhNDZmMTEtMTViYi00NjkxLWE4NzgtNjNhMmNmMmVkNmVhIiwidCI6IjJlMzlhNDM0LWE2YmMtNGJhNC1iZGY1LTQ2YmUyOWMyYTYwMCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        <iframe title="Gender vs Disability" width="700" height="400" src="https://app.powerbi.com/view?r=eyJrIjoiNzhjYjVlMWYtZmExNS00MmU0LTgwZDQtM2ZlYWE5Y2EwMWFkIiwidCI6IjJlMzlhNDM0LWE2YmMtNGJhNC1iZGY1LTQ2YmUyOWMyYTYwMCIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</body>
</html>